
* {
  margin: 0;
  padding: 0;
}

$primary-color: #ffffff;
$btn-color: #ae8959;

@font-face {
  font-family: MullerRegular;
  src: url('../fonts/MullerRegular.ttf');
}

@font-face {
  font-family: MullerBold;
  src: url('../fonts/MullerBold.ttf');
}

@font-face {
  font-family: LoraRegular;
  src: url('../fonts/LoraRegular.ttf');
}

@font-face {
  font-family: Castellar;
  src: url('../fonts/Castellar.ttf');
}


body {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-shadow: inset 0 0 0 200vw rgba(0, 0, 0, 0.8)
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 11px;
  padding-top: 59px;
  text-align: center;

  .header__burger {
    display: none;
  }

  .menu__list {
    list-style: none;
    display: flex;
    width: 355px;
    justify-content: space-between;

    .menu__link {
      text-decoration: none;
      color: $primary-color;
      font-size: 16px;
      font-family: MullerRegular, sans-serif;
    }
  }

  .header__phone {
    display: flex;
    align-items: center;

    .phone {
      color: $primary-color;
      font-size: 16px;
      margin-left: 15px;
      font-family: MullerRegular, sans-serif;
    }
  }
}

#menuModal {
  display: none;
}

.container.main {
  display: flex;
  justify-content: right;
  align-items: center;

  .main__info h1 {
    font-size: 40px;
    font-family: LoraRegular, sans-serif;
    color: $primary-color;
    padding-bottom: 39px;
    max-width: 508px;
    font-weight: normal;
  }

  .main__text {
    font-size: 22px;
    font-family: LoraRegular, sans-serif;
    color: $primary-color;
    padding-bottom: 49px;
  }

  .btn {
    background: #ae8959;
    font-family: MullerBold, sans-serif;
    color: #fff;
    cursor: pointer;
    border: 0;
  }

  .btn.main__btn {
    width: 232px;
    height: 60px;
    font-size: 18px;
    padding: 23px 33px;
  }

  .main__strong {
    font-family: Castellar, sans-serif;
    font-size: 180px;
    color: $btn-color;
    position: absolute;
    opacity: 0.05;
    padding: 0 0 420px 0;
  }

  .main__club {
    font-family: Castellar, sans-serif;
    font-size: 180px;
    color: $btn-color;
    position: absolute;
    opacity: 0.05;
    width: 510px;
    height: 131px;
  }
}


.aside__first {

  background-color: rgb(19, 19, 24);

  height: 180px;
  z-index: 245;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-color;
    font-size: 16px;
    font-family: MullerRegular, sans-serif;
    padding-bottom: 60px;
    padding-top: 60px;
    top: 50%;
    left: 50%;


    .aside {
      display: flex;
      align-items: center;
      gap: 30px;

    }
  }
}

.container.content {


  .content__title {
    font-size: 32px;
    font-family: LoraRegular, sans-serif;
    color: $primary-color;
    padding-top: 100px;
    padding-bottom: 60px;
    max-width: 872px;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-weight: normal;
    }
  }

  .content__main {
    margin-bottom: 100px;
    font-family: MullerRegular, sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    color: #fff;
    gap: 68px;
    border-right: 1px solid $btn-color;

    .content__img img {
      transition: transform 0.3s ease-in-out;
    }

    .content__img img:hover {
      transform: scale(1.1);
    }
  }

  .advantages {
    display: grid;
    row-gap: 26px;
    font-size: 18px;
    margin-top: 72px;

    .advantage__one {
      display: grid;
      grid-template-columns: 20px 1fr;
      column-gap: 20px;
      align-items: center;

      svg {
        justify-self: center;
      }
    }

    .advantage__two {
      display: grid;
      grid-template-columns: 20px 1fr;
      column-gap: 20px;
      align-items: center;
    }

    .advantage__three {
      display: grid;
      grid-template-columns: 20px 1fr;
      column-gap: 20px;
      align-items: center;
    }
  }

  .content__info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 35px;
    align-items: center;

    .content__img {
      text-align: center;
    }
  }

}

.aside__second {
  height: 181px;

  img {
    width: 100%;
    height: 181px;
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    column-gap: 262px;
    align-items: center;
    color: $primary-color;
    font-size: 16px;
    font-family: MullerRegular, sans-serif;

    .aside__action {
      z-index: 200;

      .aside__second__btn {
        background-color: $btn-color;
        box-shadow: 0px 0px 18.75px 6.25px rgba(152, 108, 52, 0.2);
        width: 232px;
        height: 60px;
        font-weight: bold;
        font-size: 18px;
        color: $primary-color;
      }
    }

    .aside__text {
      z-index: 217;
      font-size: 28px;
      font-family: LoraRegular, sans-serif;
      color: $primary-color;
      line-height: 1.2;
      max-width: 423px;

      span {
        font-weight: 900;
      }
    }
  }
}

.price .container {
  padding-top: 102px;
  padding-bottom: 100px;

  .design {
    position: relative;
    border-left: 1px solid $btn-color;

    img {
      position: absolute;
      left: 260px;
      top: 115px;
    }
  }

  .title.price__title {
    font-size: 32px;
    font-family: LoraRegular, sans-serif;
    color: $primary-color;
    margin-bottom: 58px;
    text-align: center;
  }

  .list__price_info {
    font-size: 18px;
    font-family: MullerRegular, sans-serif;
    color: $primary-color;
    text-align: left;
    grid-column: 1 / 2;
  }

  .list_info {
    font-size: 14px;
    font-family: MullerRegular, sans-serif;
    color: rgb(89, 85, 80);
    margin-top: 10px;
  }

  .list__price {
    grid-column: 2 / 3;
    font-size: 18px;
    font-family: MullerRegular, sans-serif;
    color: $primary-color;
    text-align: start;
  }

  .price__info_all {
    display: flex;
    justify-content: space-around;


    .price__info {
      display: grid;
      grid-template-columns: 234px 91px;
      column-gap: 47px;
      row-gap: 40px;
      text-align: left;

      .price__title {
        font-size: 25px;
        font-family: LoraRegular, sans-serif;
        color: $btn-color;
        line-height: 1.2;
        text-align: left;
        grid-column: 1 / 3;
      }
    }
  }
}

.aside__thid {
  height: 181px;

  img {
    width: 100%;
    height: 181px;
    object-fit: cover;
    opacity: 0.3;
    position: absolute;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    column-gap: 262px;
    align-items: center;
    color: $primary-color;
    font-size: 16px;
    font-family: MullerRegular, sans-serif;

    .aside__action {
      z-index: 200;

      .aside__thid__btn {
        background-color: $btn-color;
        box-shadow: 0px 0px 18.75px 6.25px rgba(152, 108, 52, 0.2);
        width: 232px;
        height: 60px;
        font-weight: bold;
        font-size: 18px;
        color: $primary-color;
      }
    }

    .aside__text {
      z-index: 217;
      font-size: 28px;
      font-family: LoraRegular, sans-serif;
      color: $primary-color;
      line-height: 1.2;
      max-width: 423px;

      span {
        color: $btn-color;
      }
    }

    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #000000;
      padding: 50px;
      border: 4px solid $btn-color;
      z-index: 999;

      p {
        font-size: 28px;
        font-family: LoraRegular, sans-serif;
      }
    }

    .close-popup {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(152, 108, 52, 0.26);
  display: none;
  z-index: 998;
}

.registration-form {
  z-index: 999;
}

.masters .container {
  padding-bottom: 101px;
  padding-top: 101px;
  display: flex;
  justify-content: center;

  .design {
    border-right: 1px solid $btn-color;
    width: 100%;

  }

  h1 {
    font-size: 32px;
    font-family: LoraRegular, sans-serif;
    color: $primary-color;
    text-align: center;
    padding-bottom: 59px;
  }

  h2 {
    font-size: 18px;
    font-family: MullerRegular, sans-serif;
    color: $primary-color;
    text-align: center;
    max-width: 809px;
    margin: 0 auto;
    line-height: 1.389;
    padding-bottom: 69px;
  }

  .slider {
    margin-left: 81px;
    margin-right: 81px;

  }

  .slide {
    position: relative;
    width: 336px;
    height: 464px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .slide-active {
      width: 336px;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 114px;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;


    p {
      font-size: 20px;
      font-family: LoraRegular, sans-serif;
      color: rgb(255, 255, 255);
      text-align: center;
      z-index: 44;
      margin-bottom: 20px;
    }

    .open-modal {
      width: 165px;
      height: 40px;
      font-size: 16px;
      font-family: MullerBold, sans-serif;
      color: rgb(255, 255, 255);
      font-weight: bold;
      border-width: 1px;
      border-color: $btn-color;

    }
  }

}

.slick-dots {
  text-align: center;
  padding: 25px 0;
}

.slick-dots li {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  border: 1px solid $btn-color;

}

.slick-dots li::before {
  display: block;
  width: 14px;
  height: 14px;
  background-color: $btn-color;
  border: 1px solid transparent; /* Сохраняем внешнюю границу */
  transition: opacity 0.3s ease; /* Добавим плавную анимацию */
  opacity: 0;
  content: "";
  position: absolute; /* Позиционируем внутренний квадрат относительно родительского элемента */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем внутренний квадрат */

}

.slick-dots li.slick-active::before {
  opacity: 1; /* Делаем внутренний квадрат видимым */
}

.nav-masters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  column-gap: 10px; /* Уменьшаем расстояние между элементами */
}

.slick-prev {
  order: 1; /* Первая */
  position: static;
  align-self: center;
  transform: translate(50%, 0);

}

.slick-dots {
  order: 2; /* Вторая */
  position: static;
  max-width: 350px;
}

.slick-next {
  order: 3; /* Третья */
  position: static;
  align-self: center;
  transform: translate(-50%, 0);
}

.address {
  background-color: #131318;

  .container {
    display: flex;

    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 40px;
    column-gap: 48px;

    .info {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      line-height: 1.2;
      text-align: center;
      font-size: 16px;
      font-family: MullerRegular, sans-serif;
      color: $primary-color;
      max-width: 199px;

      .logo {
        padding-bottom: 29px;
      }

      .networks_icon {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        column-gap: 25px;
      }

      .phone {
        padding-top: 20px;
      }

    }

    .map {
      filter: grayscale(100%);

    }
  }
}

footer {
  background-color: #131318;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(80, 79, 79);
    font-size: 14px;
    font-family: MullerRegular, sans-serif;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.slick-center {
  transform: scale(1.2);
  position: relative;
  z-index: 500;

}

.slick-slide {
  filter: grayscale(100%);
}

.slick-active {

  .open-modal {
    background-color: $btn-color;
  }

}


.slick-list {
  overflow-x: hidden;
  height: 525px;
  padding-top: 40px;
}

.slide {
  transition: 0.2s ease;
}

.slick-current {
  filter: none;
}















